AdventureWorksManagement/Service References/AdvWorksManagementService/AdventureWorks1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyTestingGroundService.Model/2011/MyTestingGroundService" elementFormDefault="qualified" targetNamespace="http://MyTestingGroundService.Model/2011/MyTestingGroundService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employees" nillable="true" type="tns:Employees" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PurchaseOrders" nillable="true" type="tns:ArrayOfPurchaseOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfPurchaseOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrder" nillable="true" type="tns:PurchaseOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrder" nillable="true" type="tns:ArrayOfPurchaseOrder" />
  <xs:complexType name="PurchaseOrder">
    <xs:sequence>
      <xs:element name="PurchaseOrderID" type="xs:int" />
      <xs:element name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShipDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TaxAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubTotal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrder" nillable="true" type="tns:PurchaseOrder" />
  <xs:element name="PurchaseOrderID" type="xs:int" />
  <xs:complexType name="PurchaseOrderDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderDetail" nillable="true" type="tns:PurchaseOrderDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderDetails" nillable="true" type="tns:PurchaseOrderDetails" />
  <xs:complexType name="PurchaseOrderDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderQty" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="LineTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReceivedQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderDetail" nillable="true" type="tns:PurchaseOrderDetail" />
</xs:schema>