AdventureWorksManagement/Service References/AdvWorksManagementService/AdventureWorks1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyTestingGroundService.Model/2011/MyTestingGroundService" elementFormDefault="qualified" targetNamespace="http://MyTestingGroundService.Model/2011/MyTestingGroundService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employees" nillable="true" type="tns:Employees" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>